#article-archive
  %h3 All Articles
  %ol
    - @posts.each do |post|
      %li
        %a{ :href => link_to_post post }= post['title']
        &raquo;
        %span.date= nice_date post['timecreated']
