!!!
%html

  %head
    %meta{ :charset => 'utf-8' }
    %meta{ :name => 'Description', :content => 'The personal website of Paul Annesley, a web developer living in Melbourne, Australia.' }
    %title= title 'paul.annesley.cc', @subtitle
    %link{ :rel => :alternate, :type => 'application/atom+xml', :title => 'Recent Blog Posts on paul.annesley.cc', :href => 'http://feeds.feedburner.com/paulannesley' }
    %link{ :rel => :alternate, :type => 'application/rss+xml', :title => 'Recent del.icio.us Bookmarks', :href => 'http://del.icio.us/rss/paul.annesley' }
    %link{ :rel => :stylesheet, :type => 'text/css', :href => '/static/style.css' }
    %link{ :rel => 'openid.server', :href => 'http://www.myopenid.com/server' }
    %link{ :rel => 'openid.delegate', :href => 'http://pda.myopenid.com/' }

  %body

    #header
      %h1 paul.annesley.cc
      %ul.navigation
        %li
          %a{ :href => '/' } Home
        %li
          %a{ :href => '/about' } About
        %li
          %a{ :href => '/articles' } Articles

    #column-container
      #column1.column
        .column-content
          #profile
            %h2 Profile
            %p
              %img{ :width => 73, :height => 73, :src => '/static/paul-annesley.jpg', :alt => 'Paul Annesley' }
              This is the personal website of
              <a rel="me" title="Home" class="name" href="/">Paul Annesley</a>,
              senior developer at
              <a href="http://99designs.com/">99designs</a>
              in
              <a title="Melbourne on Wikipedia" href="http://en.wikipedia.org/wiki/Melbourne">Melbourne, Australia</a>.
              You can <a title="pda on Twitter" href="http://twitter.com/pda">follow Paul on Twitter</a>.
            #bookmarks
              %h2 Recent Bookmarks
              %ul
                - @bookmarks.each do |entry|
                  %li
                    %a{ :href => entry['link'] }= entry['title']
                    %span.description
                      &raquo;
                      = entry['summary']
          #people
            %h2 People
            %ul
              %li
                %a.name{ :href => 'http://jamesannesley.com', :rel => 'sibling met' } James Annesley
                » Maker and purveyor of fine jazz saxophone music in Melbourne, Australia
    = yield

    #footer
      %p &copy; 2007 &#8211; 2009 Paul Annesley

    %script{ :src => 'http://www.google-analytics.com/urchin.js', :type => 'text/javascript' }
    :javascript
      _uacct = "UA-1080938-1";
      urchinTracker();
